<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Usuários</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="12">
      <ion-item id="{{customer.id}}" *ngFor="let customer of customers">
        <ion-label>{{ customer.name }}</ion-label>
        <ion-button color="danger" (click)="deleteCustomer(customer.id)">Excluir</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
